.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

.note-title {
  /* font-size: 24px; */
  border: none;
  width: auto;
  margin: 20px auto;
}

sup {
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
}

.completed {
  border-radius: 50%;
  background-color: rgb(9, 173, 9);
}

.incomplete {
  border-radius: 50%;
  background-color: rgba(167, 6, 6, 0.84);
}

.note-desc {
  width: 80%;
  margin: 30px auto;
  font-size: 18px;
  /* overflow: scroll; */
  /* font-family: cursive; */
}
